ariautils @ git+https://github.com/EleutherAI/aria-utils.git
evaluate==0.4.1
jsonlines==4.0.0
miditoolkit==1.0.1
pandas==2.2.2
PyYAML==6.0.1
# torch>=2.1.0
tqdm==4.66.2
transformers==4.48.3
pretty_midi==0.2.10
coloredlogs
music21==9.3.0
muspy==0.5.0